/*
* @Author: Administrator
* @Date:   2020-05-12 10:35:23
* @Last Modified by:   Administrator
* @Last Modified time: 2020-05-12 10:36:58
*/

dl{
	border-width: 3px;
	border-color: blue;
	border-style: solid;
}